AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
AZURE_AD_REDIRECT_URI=
SESSION_SECRET=
MONGO_URI=
LOG_LEVEL=Default is info you change log level to ( error, warning, info, http, debug )
LOG_DIRECTORY=./logs
PORT=Default port is 5000
RSA_PRIVATE_KEY_PATH=
RSA_PUBLIC_KEY_PATH=
BASIC_AUTH_SECRET=